@using BookManager.WEB.Models.DTOS.Responses
@using BlazorApp.WEB.Services

<div class="card" style="width: 18rem; margin-left:1rem">
    <img src="@Item.Book.ImageLink" class="card-img-top" style="max-height:20rem" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Item.Book.Titolo</h5>
        <p class="card-text">@Item.Book.Description?.Remove(4) ...</p>
        <h6>Valutazioni Complessive: @Item.Book.RatingAverage</h6>


        @if (!ShowRemoveButton)
        {
            <div class="row">
                <a href="#" @onclick="VisitBookDetail" class="btn btn-primary col-5">Dettagli</a><br />
                <button type="button" @onclick="AddToFavourite" class="btn btn-success col-3" style="margin-left:0.5rem">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"></path>
                    </svg>
                </button>
            </div>
        }


        @if (ShowRemoveButton)
        {
            <div class="row">
                
                <a href="#" @onclick="VisitBookDetail" class="btn btn-primary col-5">Dettagli</a><br />
                <button type="button" @onclick="RemoveFromFavourite" class="btn btn-danger col-3" style="margin-left:0.5rem">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"></path>
                    </svg>
                </button>
            </div>
        }

        <p></p>
        <a href="#" @onclick="VisitBookDetail">@Item.ItemReviewList.Count Recensioni</a>

    </div>
</div>
@code {

    [Parameter]
    public ItemResponse Item { get; set; }

    [Parameter]
    public bool ShowRemoveButton { get; set; }

    [Inject]
    protected NavigationManager nv { get; set; }

    [Inject]
    protected IBookInterface BookService { get; set; }

    [Parameter]
    public EventCallback<ItemResponse> ShowReview { get; set; }

    [Inject]
    protected IJSRuntime JsRuntime { get; set; }

    protected void VisitBookDetail()
    {
        nv.NavigateTo($"/book/{Item.ItemId}/detail");
    }

    protected async void ShowAnteprima()
    {
        await ShowReview.InvokeAsync(Item);
    }

    protected async Task AddToFavourite()
    {
        var result = await BookService.AddBookToFavourites(new BookManager.WEB.Models.DTOS.Requests.AddBookTOFavouireRequest()
        {
            BookId = Item.Book.Id
        });
        if (result != null)
            await JsRuntime.InvokeVoidAsync("alert", "Libro Aggiunto ai preferiti");

        if (result is null)
            await JsRuntime.InvokeVoidAsync("alert", "Libro già salvato");
        return;
    }

    protected async Task RemoveFromFavourite()
    {
        var result = await BookService.RemoveFromFavourite(new BookManager.WEB.Models.DTOS.Requests.AddBookTOFavouireRequest()
        {
            BookId = Item.Book.Id
        });
        if (result)
        {
            await JsRuntime.InvokeVoidAsync("alert", "libro rimosso dai preferiti");
            nv.NavigateTo("/favourite", true);
            return;
        }
        return;
    }
}
